body{
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    
}


header{
    display: flex;
    align-items: center;
    background-color: rgb(13, 202, 76);
    padding: 20px 3%;
    position:sticky;
}

.navlist ul{
    
    margin-left: 290px;
}

.navlist li,a{
    display: inline;
    padding-right: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}



.headname{
    color: white;
    font-size: 44px;
    cursor: pointer;
    
}

.siglog{
    background-color: rgb(0, 0, 0,0.5);
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.siglog:hover{
    background-color: rgb(9, 119, 46);
    transform: scale(1.1);
}