@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Quicksand:wght@300&display=swap');

/*the green color used :rgb(13, 202, 76)*/
/*the black used:rgb(0, 0, 0,0.5)*/

body{
    background-image: url(/static/images/mpbg2.jpg);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here (0.5 is 50% opacity) */
    z-index: -1;
  }


header{
    display: flex;
    align-items: center;
    background-color: rgb(13, 202, 76);
    padding: -10px 3%;
    position:sticky;
}

.logo {
  width: 120px; 
  height: 130px; 
 
}

.navlist ul{
    
    margin-left: 200px;
}

.navlist li,a{
    display: inline;
    padding-right: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}



.headname{
    color: white;
    font-size: 44px;
    cursor: pointer;
    
}

.siglog{
    background-color: rgb(0, 0, 0,0.5);
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.siglog:hover{
  
    background-color: rgb(9, 119, 46);
    
    transform: scale(1.1);
}

.s0_h{
  display: flex;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 230px;
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;
}

.s0_h2{
  display: flex;
    font-size: 30px;
    color:rgb(13, 202, 76);
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;
}

.s1_h{
    display: flex;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 230px;
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.6s ease-out; /* Smooth transition for slide effect */
}

.s1_h2{
    display: flex;
    font-size: 30px;
    color:rgb(13, 202, 76);
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;
}

.s1_b{
    display: flex;
    font-size: 20px;
    background-color: rgb(13, 202, 76);
    color: white;
    margin-top: 20px;
    margin-left: 46%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius:8px ;
    transition: transform 0.3s ease-in-out;

}

.s1_b:hover{
    background-color: rgb(9, 119, 46);
    transform: scale(1.1);
    
    
}

.s2_h{
    display: flex;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 230px;
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;
    
}

.s2_h2{
    display: flex;
    font-size: 30px;
    color:rgb(13, 202, 76);
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;

}
  .image-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  /* Individual images */
  .image-container .img1 {
    width: 400px; 
    margin: 0 10px; 
    
    margin-top: 30px;
    border-radius: 9px;
    transition: transform 0.3s ease-in-out;

  }

.image-container .img1:hover {
    transform: scale(1.1); 
    margin: 0 25px;
    
  }

  .s3_h{
    display: flex;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 230px;
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;
  }

  .s3_h3{
    display: flex;
    font-size: 30px;
    color:rgb(13, 202, 76);
    margin-left: 55px;
    text-decoration:double;
    font-weight: bolder;
    justify-content: center;
  }

  .marquee-container {
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(0, 0, 0,0.5)
  }
  
  .marquee {
    animation: marquee 20s linear infinite;
    font-size: 25px;
    
  }
  
  .marquee.right {
    animation-direction: reverse;
    
  }
  
  @keyframes marquee {
    100% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  

  
  .slide{
    height: 400px;
    width: 400px;
    display: grid;
    place-items: center;
    padding: 15px;
    perspective: 100px;
}

.fimage{
    height: 400px;
    width:400px;
    transition: transform 1s;
}
.image-slider{
    display: grid;
    place-items: center;
    margin-top: 29px;
    position: relative;

    overflow: hidden;
    height: 400px;  
    width: 100%;
}
.image-slider-track{
    display: flex;
    width:calc(400px*12);
    animation: play 30s linear infinite;
}

@keyframes play{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-400px*17));
    }
}

.image-slider::before,
.image-slider::after{
    
   
    height: 100%;
    width: 15%;
    z-index: 2;
    position: absolute;

    }

    .image-slider::before{
        left:0;
        top:0;
    }

    .image-slider::after{
        right:0;
        top:0;
        

    }

    .image-slider:hover .image-slider-track {
      animation-play-state: paused; /* Paused on hover */
      
  }

    .fimage:hover{
      transform: scale(1.1);
      
    }


    .s4_h1, .s4_h3, .s4_h5, .s4_h7 {
      display: flex;
      font-size: 60px;
      color: rgb(255, 255, 255);
      background-color:rgb(0, 0, 0,0.6) ;
      padding: 10px;
      margin-top: 230px;
      
      width: auto;
      text-decoration: double;
      font-weight: bolder;
      justify-content: center;

      margin-bottom: 20px;
  }

  .s4_h2, .s4_h4,.s4_h8 {
    display: flex;
    font-size: 30px;
    color: rgb(13, 202, 76);
    background-color:rgb(0, 0, 0,0.6) ;
    margin-top: -19px;
    padding: 50px;
    
    text-decoration: double;
    font-weight: bolder;
    justify-content: center;
    
}

.s4_h6 {
  font-size: 30px;
  color: rgb(13, 202, 76); /* Adjust color as needed */
  background-color:rgb(0, 0, 0,0.6) ;
  font-weight: bolder;
  margin-top: -19px;
  line-height: 1.6; /* Adjust line height as needed */
}

.s4_h6 ul {
  list-style-type: disc; /* Change bullet style as needed */
  padding: 20px;
  color: white;
  
}

.s4_h6 ul li {
  
  margin-bottom: 10px; /* Adjust spacing between list items as needed */
  
}


.footer {
  background-color: rgb(13, 202, 76);
  color: white;

  text-align: center;
  padding: 20px 0;
  
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-label {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}

.footer-copyright {
  font-size: 14px;
  color: black;
}

