@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}
body{
    background-image: url(/static/images/crop2.jpg);
    background-size: cover;
    background-position: 0px -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 93%;
    display: flex;
    align-items: center; /* Vertically center items */
    color: white;
}

.logo {
    width: 120px;
    height: 130px;
    margin-right: 1px; 
    margin-left: -25px;
}

h1 {
    margin: 0;
    font-size: 48px; /* Adjust font size as needed */
    margin-left: -15px;
    font-weight: bolder;
}

.sub {
    margin-left: auto; /* Pushes Your plant specialist to the right */
    font-size: 30px; /* Adjust font size as needed */
    font-weight: bold;
}

.translate {
    margin-left: auto; /* Pushes Google Translate to the right */
}


.Form-box{
    margin-top: 120px;
    width: 400px;
    height: 430px;
    backdrop-filter: blur(9px);
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 16px;
    overflow: hidden;
    transition: transform .6s ease, height .2s ease-in-out;
}

.Form-box .Login-form{
    width: 400px;
    height: 400px;
}

.Form-box form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .5s ease;
}
.Form-box .Register-form{
    transform: translateX(-100%);
}
.input-box{
    width: 300px;
    height: 50px;
    margin: 20px 0; 
    padding:0 10px 0;
}
.Register-form .input-box{
    margin: 20px 0px;
}

.input-box input{
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
    background-color: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 40px;
    text-align: center;
}

.input-box input::placeholder{
    color: #fff;
  }
.input-box label{
    transition: .4s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-25px);
}
.input-box ion-icon{
    font-size: 25px;
}
.checkbox{
    width: 80%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.Register-form .checkbox{
    display: unset;
}
.submitLog-btn{
    display: flex;
    height:45px;
    width: 80%;
    padding:0 10px 0;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    background-color: rgb(13, 202, 76);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.submit-btn{
    display: flex;
    height:45px;
    width: 80%;
    padding:0 10px 0;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    background-color: rgb(13, 202, 76);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.getlogotp-btn{
    display: flex;
    height:45px;
    width: 50%;
    padding:0 10px 0;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    background-color: rgb(13, 202, 76);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.getotp-btn{
    display: flex;
    height:45px;
    width: 50%;
    padding:0 10px 0;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    background-color: rgb(13, 202, 76);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.Login-btn{
    padding-top: 10px;
}
.Register-btn{
    padding-top: 10px;
}

.translate{
    justify-content: right;
}

.Form-box h5,
.checkbox label,
.checkbox input{
    cursor: pointer;
}
.change-form{
    height: 500px;
}
.change-form .Login-form{
    transform: translateX(100%);
}
.change-form .Register-form{
    transform: translateX(0%);
}

