@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}
body{
    background-image: url(crop2.jpg);
    background-size: cover;
    background-position: 0px -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 10px;
    color: white;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.head-div label{
    font-size: 33px;
    
}
.sub{
    align-self: center;
    font-size: xx-large;
}

.Form-box{
    width: 400px;
    height: 400px;
    backdrop-filter: blur(9px);
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 16px;
    overflow: hidden;
    transition: transform .6s ease, height .2s ease-in-out;
}

.Form-box .Login-form{
    width: 400px;
    height: 400px;
}

.Form-box form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .5s ease;
}
.Form-box .Register-form{
    transform: translateX(-100%);
}
.input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0; 
    padding:0 10px 0;
}
.Register-form .input-box{
    margin: 20px 0px;
}
/* .input-box input{
    width: 90%;
    position: absolute;
    color: white;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}  */

.input-box input{
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
    background-color: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 40px;
    text-align: center;
}

.input-box input::placeholder{
    color: #fff;
  }
.input-box label{
    transition: .4s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-25px);
}
.input-box ion-icon{
    font-size: 25px;
}
.checkbox{
    width: 80%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.Register-form .checkbox{
    display: unset;
}

.submit-btn{
    display: flex;
    height:45px;
    width: 80%;
    padding:0 10px 0;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    background-color: rgb(13, 202, 76);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.Login-btn{
    padding-top: 10px;
}
.Register-btn{
    padding-top: 10px;
}

.translate{
    justify-content: right;
}

.Form-box h5,
.checkbox label,
.checkbox input{
    cursor: pointer;
}
.change-form{
    height: 500px;
}
.change-form .Login-form{
    transform: translateX(100%);
}
.change-form .Register-form{
    transform: translateX(0%);
}