<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking</title>
    <link rel="stylesheet" href="/static/css/appointcss.css">
</head>
<iframe src="/header/" frameborder="0" width="100%" height="100%"></iframe>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div class="navbar">
        <h1>Book Your Appointment.</h1>
        <div id="google_translate_element" class="translate"></div>
</div>
<body>
    

    <div class="container">
        <h2>Appointment Booking</h2>
        <form id="appointmentForm" method="post"> 
            <div class="form-group">
                <label for="hid">HARVEAL ID:</label>
                <input type="text" id="hid" name="hid" placeholder="eg:- HARV2024253172" required>
            </div>
            <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" id="fullname" name="fullname" placeholder="eg:- Raghunath ramji Hanumantey" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" required>
            </div>
            <div class="form-group">
                <label for="contact">Contact Number:</label>
                <input type="text" id="contact" name="contact"  placeholder="India (+91) format" required>
            </div>
            <div class="form-group">
                <label for="plant">Select Plant:</label>
                <select id="plant" name="plant" required>
                    <option value="">Select Plant</option>
                    <option value="tomato">Tomato</option>
                    <option value="potato">Potato</option>
                    <option value="brinjal">Brinjal</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea type="text" id="description" class="description" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="visitType">Visit Type:</label>
                <select id="visitType" name="visitType" onchange="toggleAddressField()">
                    <option value="physical">Physical Visit with agricultural experts</option>
                    <option value="video">Video call an expert</option>
                </select>
            </div>
            <div class="address-fields">
                <div class="form-group">
                    <label for="houseNumber">House Number:</label>
                    <input type="text" id="houseNumber" name="houseNumber" value="none" disabled>
                </div>
                <div class="form-group">
                    <label for="street">Street:</label>
                    <input type="text" id="street" name="street" value="none" disabled>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city" value="none" disabled>
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <select id="state" name="state" disabled>
                        <option value="none">Select State</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="pincode">Pincode:</label>
                    <input type="text" id="pincode" name="pincode" value="none" placeholder="eg:-410210" disabled>
                </div>
            </div>
            <button type="button" class="locate" onclick="locateMe()" id="locateMeButton" disabled>Locate Me</button>
            <button type="button" id="submitb" class="submitb" onclick="submitForm()">Submit</button>
        </form> 
    </div>
    <div id="overlay" class="overlay">
        <div id="successBanner" class="success-banner">
            <p id="successMessage"></p>
            <button onclick="dismissBanner()">Dismiss</button>
        </div>
    </div>
</body>
   
    <script src="/static/js/appointjs.js"></script>
</html>
