<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/headercss.css">
    <script src="https://kit.fontawesome.com/86b53df464.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>  
        <!-- <img src="static\signs&text\path30.png" class="logimg" id="logNC" alt="logo"> -->
        <label class="logo" for=""><a class="logo" href="/homepage" target="_top"><b>Harveal</b></a></label>
        <nav>
        <ul class="nav-links">
                <li><a id="sub-nav-list" class="notes" href="/notes" target="_top"><b>Dignose</b></a></li>
                <li><a id="sub-nav-list" class="sign" href="/signature" target="_top"><b>Schedule appointment</b> </a></li> 
                <li><a id="sub-nav-list" class="Comm" href="/community"target="_top"><b>News</b></a></li>
                <li><a id="sub-nav-list" href="/contact" target="_top"><b>Contact us</b></a></li> 
        </ul>
        </nav>
        <ul class="left-nav">
            <!--<li><a id="sub-nav-list"href=""><button class="feedback" target="_top">Feedback</button></a></li>-->
            <li><a id="sub-nav-list" href="/logout/"><i class="fa-solid fa-user"></i></a></li>
            
        </ul>
    </header>
    <script src="feedback_js.js"></script>
</body>
</html>