<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/headercss.css">
<script src="https://kit.fontawesome.com/86b53df464.js" crossorigin="anonymous"></script>
    <title>""</title>
</head>
<body>
    <header>
        <label for="" class="logo">logo</label>
        <label for="" class="headname"><a href="/Inhome/" target="_top"><strong>Harveal</strong></a></label>
        <nav class="navlist">
            <ul>
                <li><a href="/diagnose/" target="_top">Crop diagnosis</a></li>
                <li><a href="/appointment/" target="_top">Appoint a expert</a></li>
                <li><a href="#s3" target="_top">Agro news</a></li>
                <li><a href="#s4" target="_top">Contact us</a></li>
                <li><a href="/logout/" target="_top" ><button id="siglog" class="siglog">logout</button></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
    