<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/homecss.css">
    <title>Document</title>
</head>
<body>
    <header>
        <label for="" class="logo">logo</label>
        <label for="" class="headname">Harveal</label>
        <nav class="navlist">
            <ul>
                <li><a href="#">Crop diagnosis</a></li>
                <li><a href="#">Appoint a expert</a></li>
                <li><a href="/contactus">Agro news</a></li>
                <li><a href="">contact us</a></li>
                <li><a href="">Who we are</a></li>
            </ul>
        </nav>

    </header>
</body>
</html>