<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/homecss.css">
    <link rel="icon" type="image/ico"  href="/static/images/favicon.ico">
    <title>Harveal | Welcome</title>
</head>
<body>
    <header>
        <img src="/static/images/HARV_LOGO.png" alt="Harv Logo" class="logo">
        <label for="" class="headname"><strong>Harveal</strong></label>
        <nav class="navlist">
            <ul>
                <li><a href="#s0">Crop diagnosis</a></li>
                <li><a href="#s2">Appoint a expert</a></li>
                <li><a href="#s3">Agro news</a></li>
                <li><a href="#s4">Who we are</a></li>
                <li><a href="/sig_log/"><button id="siglog" class="siglog">Sign up / login</button></a></li>
            </ul>
        </nav>
    </header>
   


    <div class="s1" id="s1">
        <label class="s1_h" id="s1_h">Harveal, committed to plant health.</label>
        <label class="s1_h2" id="s1_h2">Plant disease detection and farming advice you can trust.</label>
        <button class="s1_b" id="s1_b">Get Started ></button>
    </div>

    <div class="s0" id="s0">
      <label class="s0_h" id="s0_h">Detecting Threats, Preserving Yields</label>
      <label class="s0_h2" id="s0_h2">identify, treat, protect: sheild against pests and diseases</label>
      <div class="image-slider">
        <div class="image-slider-track">
            <div class="slide">
                <img src="/static/images/farmer.jpeg" class="fimage" alt="Image 1">
            </div>
            <div class="slide">
                <img src="/static/images/ifarm.jpg" class="fimage" alt="Image 2">
            </div>
            <div class="slide">
                <img src="/static/images/ifarm2.jpg" class="fimage" alt="Image 3">
            </div>
            <div class="slide">
                <img src="/static/images/infcorn.jpg" class="fimage" alt="Image 4">
            </div>
            <div class="slide">
                <img src="/static/images/spray1.jpg" class="fimage" alt="Image 5">
            </div>
            <div class="slide">
                <img src="/static/images/spray2.jpg" class="fimage" alt="Image 6">
            </div>
            <div class="slide">
                <img src="/static/images/fwatch.jpg" class="fimage" alt="Image 7">
            </div>
            <div class="slide">
                <img src="/static/images/pumpdis.jpg" class="fimage" alt="Image 8">
            </div>
            <div class="slide">
                <img src="/static/images/tomatodis.jpg" class="fimage" alt="Image 9">
            </div>
            <div class="slide">
                <img src="/static/images/leafdis.jpg" class="fimage" alt="Image 10">
            </div>
            <div class="slide">
                <img src="/static/images/tom.jpg" class="fimage" alt="Image 11">
            </div>
            <div class="slide">
                <img src="/static/images/corn.jpeg" class="fimage" alt="Image 12">
            </div>
            <div class="slide">
                <img src="/static/images/inflev3.jpg" class="fimage" alt="Image 13">
            </div>
            <div class="slide">
                <img src="/static/images/spray3.avif" class="fimage" alt="Image 14">
            </div>
            <div class="slide">
                <img src="/static/images/spray4.webp" class="fimage" alt="Image 15">
            </div>
            <div class="slide">
                <img src="/static/images/inflev4.jpg" class="fimage" alt="Image 16">
            </div>
            <div class="slide">
                <img src="/static/images/spid.jpg" class="fimage" alt="Image 17">
            </div>
        </div>
    </div>
    </div>
  

    <div class="s2" id="s2">
        <label class="s2_h" id="s2_h">Consult with professional Agri-Experts.</label>
        <label class="s2_h2" id="s2_h2">Connect with Agricultural Specialists for Virtual or On-Site Assistance.</label>
        <div class="image-container">
            <img class="img1" src="/static/images/evc.jpg" alt="Image 1">
            <img class="img1" src="/static/images/exp.jpg" alt="Image 2">
          </div>
    </div>

    <div class="s3" id="s3">
        <label class="s3_h" id="s3_h">Harvesting Insights:Agricultural News Roundup</label>
        <label class="s3_h3" id="s3_h3">Stay Informed with the Latest Updates and Insights in Agriculture.</label>
        <!-- <div class="image-container">
            <img class="img1" src="/static/images/evc.jpg" alt="Image 1">
            <img class="img2" src="/static/images/exp.jpg" alt="Image 2">
          </div> -->
          <div class="marquee-container">
            <div class="marquee">
                <p style="color: rgb(13, 202, 76);">Recent outbreaks of tomato blight have farmers worried about their yields. Experts suggest implementing proper crop rotation techniques to minimize the spread of the disease. Recent outbreaks of tomato blight have farmers worried about their yields. Experts suggest implementing proper crop rotation techniques to minimize the spread of the disease.Recent outbreaks of tomato blight have farmers worried about their yields.</p>
              </div>
              <div class="marquee">
                <p style="color: #fff;">बटाट्याची माशी लवणाऱ्या बीमारींची निरंतर चरणी म्हणजे शेतकऱ्यांना चिंताग्रस्त करतात. तज्ञांनी बीमारीचे प्रसार कमी करण्यासाठी उचित फसल चक्रवात विचारले आहे. बटाट्याची माशी लवणाऱ्या बीमारींची निरंतर चरणी म्हणजे शेतकऱ्यांना चिंताग्रस्त करतात. तज्ञांनी बीमारीचे प्रसार कमी करण्यासाठी उचित फसल चक्रवात विचारले आहे.नंदूरबार, महाराष्ट्र: सायंकाळी 7 वाजता हेल स्टॉर्म प्रकोप येत आहे. शेतकरी सज्ज राहा आणि आपल्या पिकांची सुरक्षितता करा.बटाट्याची माशी लवणाऱ्या बीमारींची निरंतर चरणी म्हणजे शेतकऱ्यांना चिंताग्रस्त करतात.</p>
              </div>
              <div class="marquee">
                <p style="color: rgb(13, 202, 76);">नागपुर, महाराष्ट्र: भोपाल में टिड्डीदल का प्रकोप हो रहा है, जो नागपुर को प्रभावित कर सकता है। कृपया सतर्क रहें और अपने खेतों की सुरक्षा के लिए आवश्यक कदम उठाएं।नासिक, महाराष्ट्र: कपास की कीमतों में तेजी से वृद्धि हुई है। कृषि उत्पादकों को अच्छे दामों के साथ खरीदारी करने की सलाह दी जाती है।नागपुर, महाराष्ट्र: भोपाल में टिड्डीदल का प्रकोप हो रहा है, जो नागपुर को प्रभावित कर सकता है।नागपुर, महाराष्ट्र: भोपाल में टिड्डीदल का प्रकोप हो रहा है, जो नागपुर को प्रभावित कर सकता है। </p>
              </div>
              <div class="marquee">
                <p style="color: #fff;">Weather forecasts predict heavy rainfall in the upcoming weeks, posing a threat to crop quality. Farmers are advised to take precautionary measures to protect their crops from waterlogging and diseases. Weather forecasts predict heavy rainfall in the upcoming weeks, posing a threat to crop quality. Farmers are advised to take precautionary measures to protect their crops from waterlogging and diseases.</p>
              </div>
          </div>
    </div>
          
          <div class="s4" id="s4">
            <div class="s4_content">
                <label class="s4_h1" id="s4_h1">About Us</label>
                <p class="s4_h2" id="s4_h2">Welcome to Harveal, your ultimate destination for all things related to plant health and agriculture. We are dedicated to revolutionizing the way farmers and gardening enthusiasts diagnose and treat plant diseases.</p>
        
                <label class="s4_h3" id="s4_h3">Our Mission</label>
                <p class="s4_h4" id="s4_h4">At Harveal, our mission is to empower individuals with the knowledge and tools they need to protect their crops, gardens, and landscapes. We strive to make plant disease detection and management accessible, accurate, and efficient for everyone.</p>
        
                <label class="s4_h5" id="s4_h5">What We Offer</label>
                
                  <ul  class="s4_h6" id="s4_h6">
                      <li><strong style="color: #fff; font-size:40px;">Plant Disease Detection:</strong> Upload a picture of your infected plant and receive instant diagnosis, including symptoms and recommended treatments.</li>
                      <li><strong style="color: #fff;font-size:40px;">Multilingual Support:</strong> Our platform supports multiple languages, including English, Hindi, and Marathi, to cater to a diverse audience.</li>
                      <li><strong style="color: #fff;font-size:40px;">Expert Consultation:</strong> Book appointments for physical or video call consultations with our team of experienced agriculture experts. Get personalized advice and recommendations tailored to your specific needs.</li>
                      <li><strong style="color: #fff;font-size:40px;">Stay Informed: </strong>Stay up-to-date with the latest news and updates in the world of agriculture. Our platform provides timely information on crop diseases, weather forecasts, agricultural advancements, and more.</li>
                  </ul>
              
                <label class="s4_h7" id="s4_h7">Join Us Today!</label>
                <p class="s4_h8" id="s4_h8">Whether you're a seasoned farmer, a gardening enthusiast, or someone concerned about the health of your plants, Harveal is here to support you. Join our community today and take the first step towards healthier, thriving plants!</p>
            </div>
        </div>

        <footer class="footer">
          <div class="footer-content">
              <p class="footer-label">Harveal, Your Plant Specialist.</p>
              <p class="footer-copyright">&#169; 2023 Harveal. All rights reserved.</p>
          </div>
      </footer>

    

    <script src="/static/js/homejs.js"></script>
</body>
</html>