<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/homecss.css">
    <title>Document</title>
</head>
<body>
    <header>
        <label for="" class="logo">logo</label>
        <label for="" class="headname"><strong>Harveal</strong></label>
        <nav class="navlist">
            <ul>
                <li><a href="#">Crop diagnosis</a></li>
                <li><a href="#">Appoint a expert</a></li>
                <li><a href="/contactus">Agro news</a></li>
                <li><a href="">contact us</a></li>
                <li><a href="">Who we are</a></li>
                <li><button id="siglog" class="siglog">Sign up / Log in</button></li>
            </ul>
        </nav>
    </header>
    <div class="s1" id="s1">
        <label class="s1_h" id="s1_h">Harveal, committed to plant health.</label>
        <label class="s1_h2" id="s1_h2">Plant disease detection and farming advice you can trust.</label>
        <button class="s1_b" id="s1_b">Get Started ></button>
    </div>

    <div class="s2" id="s2">
        <label class="s2_h" id="s2_h">Consult with professional Agri-Experts.</label>
        <label class="s2_h2" id="s2_h2">Connect with Agricultural Specialists for Virtual or On-Site Assistance.</label>
        <div class="image-container">
            <img class="img1" src="/static/images/evc.jpg" alt="Image 1">
            <img class="img2" src="/static/images/exp.jpg" alt="Image 2">
          </div>
    </div>

    <div class="s3" id="s3">
        <label class="s3_h" id="s3_h">Harvesting Insights:Agricultural News Roundup</label>
        <label class="s3_h3" id="s3_h3">Stay Informed with the Latest Updates and Insights in Agriculture.</label>
        <!-- <div class="image-container">
            <img class="img1" src="/static/images/evc.jpg" alt="Image 1">
            <img class="img2" src="/static/images/exp.jpg" alt="Image 2">
          </div> -->
          <div class="marquee-container">
            <div class="marquee">
                <p style="color: rgb(13, 202, 76);">Recent outbreaks of tomato blight have farmers worried about their yields. Experts suggest implementing proper crop rotation techniques to minimize the spread of the disease. Recent outbreaks of tomato blight have farmers worried about their yields. Experts suggest implementing proper crop rotation techniques to minimize the spread of the disease.</p>
              </div>
              <div class="marquee right">
                <p style="color: #fff;">बटाट्याची माशी लवणाऱ्या बीमारींची निरंतर चरणी म्हणजे शेतकऱ्यांना चिंताग्रस्त करतात. तज्ञांनी बीमारीचे प्रसार कमी करण्यासाठी उचित फसल चक्रवात विचारले आहे. बटाट्याची माशी लवणाऱ्या बीमारींची निरंतर चरणी म्हणजे शेतकऱ्यांना चिंताग्रस्त करतात. तज्ञांनी बीमारीचे प्रसार कमी करण्यासाठी उचित फसल चक्रवात विचारले आहे.नंदूरबार, महाराष्ट्र: सायंकाळी 7 वाजता हेल स्टॉर्म प्रकोप येत आहे. शेतकरी सज्ज राहा आणि आपल्या पिकांची सुरक्षितता करा.</p>
              </div>
              <div class="marquee">
                <p style="color: rgb(13, 202, 76);">नागपुर, महाराष्ट्र: भोपाल में टिड्डीदल का प्रकोप हो रहा है, जो नागपुर को प्रभावित कर सकता है। कृपया सतर्क रहें और अपने खेतों की सुरक्षा के लिए आवश्यक कदम उठाएं।नासिक, महाराष्ट्र: कपास की कीमतों में तेजी से वृद्धि हुई है। कृषि उत्पादकों को अच्छे दामों के साथ खरीदारी करने की सलाह दी जाती है।नागपुर, महाराष्ट्र: भोपाल में टिड्डीदल का प्रकोप हो रहा है, जो नागपुर को प्रभावित कर सकता है।</p>
              </div>
              <div class="marquee right">
                <p style="color: #fff;">Weather forecasts predict heavy rainfall in the upcoming weeks, posing a threat to crop quality. Farmers are advised to take precautionary measures to protect their crops from waterlogging and diseases. Weather forecasts predict heavy rainfall in the upcoming weeks, posing a threat to crop quality. Farmers are advised to take precautionary measures to protect their crops from waterlogging and diseases.</p>
              </div>
          </div>
          
          <div class="s4" id="s4">
            <label class="s4_h" id="s4_h">Consult with professional Agri-Experts.</label>
            <label class="s4_h2" id="s4_h2">Connect with Agricultural Specialists for Virtual or On-Site Assistance.</label>
            
        </div>
    </div>

    <script src="/static/js/homejs.js"></script>
</body>
</html>