<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harveal | Login/signup</title>
    <link rel="icon" type="image/ico"  href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/LogRegcss.css">
</head>
<body>
    <header>
        <img src="/static/images/HARV_LOGO.png" alt="Harv Logo" class="logo">
        <h1>Harveal</h1>
        <label class="sub">Your plant specialist.</label>
        <div id="google_translate_element" class="translate"></div>
    </header>
   
    <div class="Form-box">


        <form class="Login-form" method="post" action="/login_user/">
            <div class="head-div">
                <label class="head">Login</label>
            </div>

            <div class="input-box">
                <input type="text" name="logID" id="logID" placeholder="enter ID" required oninput="enableLogotp()">
            </div>

            <button type="button" id="getlogotp-btn" class="getlogotp-btn" disabled onclick="sendLogOtp()">Get OTP</button>

            <div class="input-box">
                <input type="text" name="logOTP" id="logOTP" placeholder="Enter OTP" required oninput="enableLogSubmit()">
            </div>

            <div class="checkbox">
                <span>
                    <input type="checkbox" id="login-checkbox">
                    <label for="login-checkbox">Remember Me</label>
                </span>
            </div>

            <button type="submit" class="submitLog-btn" id="submitLog-btn" disabled>Submit</button>
            <label class="Register-btn">Dont have an account ? Register</label>
        </form>




        <form class="Register-form" method="post" action="/register_user/">
            <div class="head-div">
                <label class="head">Register</label>
            </div>
            <div class="input-box">
                <input type="text"  id="phone" name="phone" placeholder="10 digit Phone number" required oninput="enableGetOtp()">
                
            </div>

            <div class="input-box">
                <input type="email" id="email" name="email" placeholder="Email (Optional)" required oninput="enableGetOtp()">
                
            </div>

            <button id="getOtpBtn" type="button" class="getotp-btn"  disabled onclick="sendOtp()">Get OTP</button>

            <div class="input-box">
                <input id="otp" name="otp" type="text"  placeholder="Enter OTP" disabled oninput="enableSubmit()">
            </div>

            <button id="submitBtn" type="submit" class="submit-btn" disabled >Submit</button>
            <label class="Login-btn">Already have a account? Login</label>
        </form>
        
    </div>

   
    
    <script src="/static/js/LogRegJS.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
 
</html>