<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News App</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/newscss.css" />
  </head>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <body>
<iframe src="/header/" frameborder="0" width="100%" height="100%"></iframe> 
    <div class="heading-container">
      <label class="nl">Agro News</label>
      <div id="google_translate_element" class="translate"></div>
    </div>
    
    <div class="options-container"></div>
    <div class="container"></div>

    <footer class="footer">
        <div class="footer-content">
            <p class="footer-label">Harveal, Your Plant Specialist.</p>
            <p class="footer-copyright">&#169; 2023 Harveal. All rights reserved.</p>
        </div>
    </footer>
    <script src="/static/js/newsjs.js"></script>
  </body>
</html>